.App{
  text-align: center;
  font-size: 2rem;
  width: 250px;
}
.inputs{
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  height: 42px;
  padding: .3rem;
}
.inputs input{
  border: none;
  outline: none;

}
.ac button{
  width:250px;
  height: 42px;
  background-color: rgb(197, 70, 70);
  outline: none;
  border: none;
  color: white;
}
.buttons{
  width:250px;
}
.buttons button{
  height: 42px;
  width: 62.5px;
  border-radius: -12px;
}